.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3vh;
}

.card-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 5vw;
}

mat-card-subtitle {
  font-size: large;
}

.low {
  margin-top: 3vh;
}
