<app-bar></app-bar>
<div class="content">
  <app-side-bar></app-side-bar>
  <div class="column">
    <p><a routerLink="/dashboard/sale/01">Janeiro</a></p>
    <p><a routerLink="/dashboard/sale/02">Fevereiro</a></p>
    <p><a routerLink="/dashboard/sale/03">Março</a></p>
    <p><a routerLink="/dashboard/sale/04">Abril</a></p>
    <p><a routerLink="/dashboard/sale/05">Maio</a></p>
    <p><a routerLink="/dashboard/sale/06">Junho</a></p>
    <p><a routerLink="/dashboard/sale/07">Julho</a></p>
    <p><a routerLink="/dashboard/sale/08">Agosto</a></p>
    <p><a routerLink="/dashboard/sale/09">Setembro</a></p>
    <p><a routerLink="/dashboard/sale/10">Outubro</a></p>
    <p><a routerLink="/dashboard/sale/11">Novembro</a></p>
    <p><a routerLink="/dashboard/sale/12">Dezembro</a></p>
  </div>
</div>
