<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened> </mat-sidenav>
  <mat-sidenav-content>
    <div class="Links">
      <p>
        <a routerLink="/dashboard/" routerLinkActive="is-selected"
          >Página inicial</a
        >
      </p>
      <p>
        <a routerLink="/dashboard/clients" routerLinkActive="is-selected"
          >Clientes</a
        >
      </p>
      <p>
        <a routerLink="/dashboard/suppliers" routerLinkActive="is-selected"
          >Fornecedores</a
        >
      </p>
      <p>
        <a routerLink="/dashboard/products" routerLinkActive="is-selected"
          >Produtos</a
        >
      </p>
      <p>
        <a routerLink="/dashboard/sales" routerLinkActive="is-selected"
          >Vendas</a
        >
      </p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
