<app-bar></app-bar>
<div class="side">
  <app-side-bar></app-side-bar>
  <div class="column">
    <app-card style="margin-left: 10vw;"></app-card>
    <div class="side2">
      <app-sales></app-sales>
      <app-spent-clients style="margin-left: 10vw;"></app-spent-clients>
    </div>
    <div class="side2">
      <app-purchase></app-purchase>
      <app-spent-suppliers style="margin-left: 10vw;"></app-spent-suppliers>
    </div>
    <div class="side2">
      <app-top-products></app-top-products>
      <app-top-products-money
        style="margin-left: 10vw; margin-top: -5vh;"
      ></app-top-products-money>
    </div>
  </div>
</div>
