<div *ngIf="productsTopMoney" class="top">
  <h3>Top 5 Produtos Vendidos (€)</h3>
  <table
    mat-table
    [dataSource]="productsTopMoney.productSalesMoney"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="Código">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let product">
        <a routerLink="/dashboard/product/{{ product.produto }}">{{
          product.produto
        }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="Valor das Vendas(€)">
      <th mat-header-cell *matHeaderCellDef>Valor das Vendas(€)</th>
      <td mat-cell *matCellDef="let product">{{ product.valorVenda }}€</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
